body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
html {
  font-size: 625%;
}
body {
  font-family: "Microsoft YaHei";
  font-size: 16px;
}
img {
  height: auto;
  max-width: 100%;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.dib {
  display: inline-block;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 625%;
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  html {
    font-size: 910%;
  }
}
@media screen and (min-width: 960px) {
  html {
    font-size: 1250%;
  }
}
.m-selectDirective {
  border: 1px solid #ccc;
  padding-bottom: .06rem;
}
.m-selectDirective .input-group {
  height: .3rem;
}
.m-selectDirective .input-group span {
  float: left;
  height: .3rem;
  line-height: .3rem;
}
.m-selectDirective .input-group input {
  display: inline-block;
  width: 70%;
  height: .18rem;
  margin: .06rem 0 0 .06rem;
}
.m-selectDirective .form-group {
  height: .3rem;
}
.m-selectDirective .form-group label {
  float: left;
  line-height: .3rem;
  font-weight: normal;
}
.m-selectDirective .form-group .form-control {
  display: inline-block;
  padding: 0 0 0 .03rem;
  height: .18rem;
  width: 64%;
  text-align: left;
  margin-left: .04rem;
  margin-top: .06rem;
}
.m-selectDirective .form-control {
  display: inline-block;
  padding: 0 0 0 .03rem;
  height: .18rem;
  width: 71%;
  text-align: left;
  margin-left: .04rem;
  margin-top: .06rem;
}
.m-selectDirective .m-btn {
  display: inline-block;
  float: right;
  margin-right: .36rem;
}
.m-listBoxComm {
  border: 1px solid #ddd;
  margin-top: .1rem;
  border-radius: 4px;
}
.m-listBoxComm .m-listTTComm {
  height: .22rem;
  line-height: .22rem;
  background: #f5f5f5;
  font-size: .08rem;
}
.m-listBoxComm button {
  float: right;
  margin-top: .03rem;
  margin-right: .03rem;
}
.m-listBoxComm .row {
  text-align: center;
  height: .26rem;
  line-height: .26rem;
  border-bottom: 1px solid #f5f5f5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-listBoxComm .row:nth-child(odd) {
  background: #f9f9f9;
}
.m-listBoxComm .m-options {
  padding: 0;
}
.m-listBoxComm .m-options span {
  display: inline-block;
  width: 10%;
  box-sizing: border-box;
}
.m-listBoxComm .m-options .m-blueColor {
  color: #337ab7;
}
.m-listBoxComm .m-options .m-redColor {
  color: red;
}
.u-dataPicker {
  display: inline-block;
  float: right;
  margin-top: .2rem;
  height: 1rem;
  line-height: .1rem;
}
.u-dataPicker input {
  display: inline-block;
  width: .3rem;
  height: .16rem;
  text-align: center;
  margin: 0 .04rem;
}
.u-dataPicker label {
  display: inline-block;
  height: .1rem;
}
.u-dataPicker .pagination {
  margin: 0 .08rem;
  vertical-align: middle;
}
