<div class="g-bd_Elite" ng-controller="EliteCtrl">
    <div class="m-banner">
        <img src="{{bannerImg}}" alt="">
    </div>

  <!--  <div class="m-picList m-picList_1 container ">
        <div class="m-picBox" style="overflow:hidden;display:inline-block;margin:0 auto;position:relative;left:50%;transform:translate(-50%);background:red;">
            <div style="float:right;max-width:2.5rem;" class="m-pic">
                <img src="../image/zjy-1fengxian.png" alt="">
            </div>
            <div class="m-txt" style="float:right;max-width:2.5rem; margin-right:.4rem;position:relative;margin-top:.2rem;">
                <h3>0预付，无风险</h3>
                <p>入职付一半，转正付一半</p>
                <p>普通猎头是三个月的薪水。非一般的我们只收一个月的薪水。如果试用期不通过，免费推荐另一个</p>
            </div>

        </div>
    </div>-->




    <div class="m-picList m-picList_1">
        <div class="container m-picBox">
            <div class="m-pic">
                <img src="../image/zjy-1fengxian.png" alt="">
            </div>
            <div class="m-txt">
                <h3>0预付，无风险</h3>
                <p>入职付一半，转正付一半</p>
                <p>普通猎头是三个月的薪水。非一般的我们只收一个月的薪水。如果试用期不通过，免费推荐另一个</p>
            </div>

        </div>
    </div>



    <!--专注与于-->
    <div class="m-picList m-picList_2">
        <div class="container m-picBox">
            <div class="m-pic">
                <img src="../image/zjy-zhuanzhu%20(1).png" alt="">
            </div>
            <div class="m-txt">
                <p>专注于</p>
                <p>最新最热门的IT互联网运人才</p>
                <p>普通猎头是三个月的薪水。非一般的我们只收一个月的薪水。如果试用期不通过，免费推荐另一个</p>
                <p>萝卜多自己开发了一套强大的IT互联网人才库系统，有业界最新最活跃最有效的人才库，这里有最新最热门的IT互联网运营和技术人才，在各大互联网公司都有足够强的人脉圈。</p>
            </div>
        </div>
    </div>

    <!--优选人才-->
    <div class="m-picList m-picList_3">
        <div class="container m-picBox">
            <div class="m-pic">
                <img src="../image/zjy-1fengxian.png" alt="">
            </div>
            <div class="m-txt">
                <p>优选人才，高效推荐</br>1-3天推荐首批候选人</br>
                    甄选人才 简历脱水 推荐人才</br>
                    3-5天安排候选人面试,安排面试 协助客户选人用人</br>
                    平均一周内推荐成功， 背景调查 多方洽谈 增值服务</p>
            </div>
        </div>
    </div>
    <!--服务流程-->

    <div class="m-picList m-picList_4">
        <div class="container m-picBox" style="text-align:center;">
            <p class="m-tt">萝卜多，服务流程 </p>
            <div class="row">
                <div class="col-xs-0 col-sm-5"></div>
                <div class="col-xs-12 col-sm-2 ">

                    <img src="../image/zjy-liucheng-1.png" alt="">


                </div>
                <div class="col-xs-12 col-sm-5 m-txt">意向洽谈、深入评审 确认合作、签订合同 提出需求、提供jd 确立招聘标准</div>
            </div>
            <!--向下箭头索引-->
            <div class="m-next">
                <div class="m-line"></div>
                <img src="../image/zjy-next.png" alt="">
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-5 m-txt"> 开始招聘、候选人评审初步确立聘用意向背景调查</div>
                <div class="col-xs-12 col-sm-2">

                    <img src="../image/zjy-liucheng-2.png" alt="">


                </div>
                <div class="col-xs-0 col-sm-5"></div>
            </div>
            <div class="m-next">
                <div class="m-line"></div>
                <img src="../image/zjy-next.png" alt="">
            </div>


            <div class="row">
                <div class="col-xs-0 col-sm-5"></div>
                <div class="col-xs-12 col-sm-2">

                    <img src="../image/zjy-liucheng-3.png" alt="">
                </div>

                <div class="col-xs-12 col-sm-5 m-txt"> 发送聘请通知候选人上岗付款、转入售后服务</div>
            </div>

        </div>


    </div>
    <!--我们的优势-->
    <div class="m-picList m-picList_5">
        <div class="container m-picBox">
            <h3 class="m-tt">我们的优势</h3>
            <div class="row m-advantageList">
                <div class="col-xs-12 col-sm-3">
                    <img src="../image/zjy-ys-1.png" alt="">
                    <p class="m-txt">30%的行业标准收费水平</p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <img src="../image/zjy-ys-2.png" alt="">
                    <p class="m-txt">一半一半无风险的收费模式</p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <img src="../image/zjy-ys-3.png" alt="">
                    <p class="m-txt">试用期内不满重推的推荐制度试用期内不满重推的推荐制度</p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <img src="../image/zjy-ys-4.png" alt="">
                    <p class="m-txt">高价值高数量的人才储备机制</p>
                </div>
            </div>
        </div>

    </div>
    <!--成功案例-->
    <div class="m-picList m-picList_6">
        <div class="container  m-picBox">
            <h3 class="m-tt">成功案例</h3>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-logo" ng-repeat="item in logoList|limitTo:8">
                    <div class="m-logoBox">
                        <img ng-src="{{item.logo}}" alt=""
                             style="text-align:center;vertical-align:middle;max-height:100%;width:auto;">
                    </div>

                </div>
            </div>
            <!--更多公司按钮-->
            <a  ng-click="moreComList()">
                <div class="m-moreCom row">
                    <button type="button" class="btn btn-danger btn-lg ">更多合作公司</button>
                </div>
            </a>

        </div>
    </div>


</div>

